body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
  --color-primary: #2a2c2d ;
  --color-secondary: #4c4e4f ;
  --color-terciario: #0c77bf;
  --Color-coral: #3c4552;

}

.header {
  background-color: var(--Color-coral);
  box-shadow: rgba(0, 0, 0, 0.096) 0px 5px 28px, rgba(0, 0, 0, 0.22) 0px 5px 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  position: fixed;
  padding: 2px;
  z-index: 20;
  height: 50px;
}

.header img{
  background-color: #f1f2f2;
  position: relative;
  left: -15px;
  top: -1px;
  padding: 10px 40px 10px 20px;
  border-radius: 0px 50px 50px 0px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 6px 1px 10px;
}

.header button {
  margin-right: 30px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: var(--color-terciario);
  color: white;
  border: none;
  font-weight: normal;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

.layout {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding-top: 53px;
  text-align: center;
}

.barra-lateral-izq {
  width: 16%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(138, 138, 138, 0.23) 0px 6px 5px;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  background-color: var(--Color-coral);
  z-index: 10;
}

.barra-lateral-izq p {
  color: white;
  margin-left: -10px;
  width: 100%;
  font-weight: 600;
  border-bottom: 0.5px solid rgba(151, 151, 151, 0.37);
  /* border-top: 0.5px solid rgba(151, 151, 151, 0.37); */
  padding: 10px;
}

.info-plantilla {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 10px 0px ;
}

.info-plantilla input {
  height: 30px;
  border-radius: 4px;
  margin-bottom: 8px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 3px, rgba(0, 0, 0, 0.40) 0px 1px 3px;
  background-color: transparent;
  color: white;
  padding-left: 6px;
  outline: none;
  text-transform: capitalize;
}

.info-plantilla input::placeholder {
  color: rgb(184, 184, 184);
}

.info-plantilla select {
  height: 35px;
  padding-left: 6px;
  border-radius: 4px;
  margin-bottom: 8px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 3px, rgba(0, 0, 0, 0.40) 0px 1px 3px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
}

.info-plantilla option {
  background-color: #37404d;
}

.content-tools {
  height: 14%;
  align-items: start;
  overflow: auto;
  padding: 5px;
}

.content-items {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); 
  column-gap: 10px; 
  row-gap: 10px;
  max-height: 16%;
}

.content-tools button {
  background-color: transparent;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 3px, rgba(0, 0, 0, 0.40) 0px 1px 3px;
  padding: 6px;
  border-radius: 5px;
  height: fit-content;
  cursor: pointer;
}

.content-variables {
  padding: 10px;
  height: 40%;
  overflow: auto;
}

.content-variables li {
  list-style: none;
}

.item-variables {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 5px, rgba(0, 0, 0, 0.40) 0px 1px 3px;
  margin-top: 6px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
}

.item-variables button {
  background-color: var(--color-terciario);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 6px 6px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.content-stage {
  width: 100%;
  background-color: var(--color-primary);
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: auto;
  padding: 20px;
}

.content-help{
  position: fixed;
  float: bottom;
  bottom: 15px;
  left: 78%;
  z-index: 20;
  background-color: #37404d;
  padding: 15px 5px 15px 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 250, 0.5);
}

.content-help button{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.50) 1px 1px 6px, rgba(0, 0, 0, 0.40) 0px 1px 6px;
  background-color: transparent;
  color: white;
  margin-top: 8px;
  border: none;
  border-radius: 3px;
}

.content-details {
  width: 18%;
  padding: 0px 10px 0px 10px;
  overflow: auto;
  height: 100vh;
  position: fixed;
  float: right;
  right: 0;
  background-color: var(--Color-coral);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 6px 5px, rgba(138, 138, 138, 0.23) 0px 6px 5px;
}

.content-details p {
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-details-item {
  padding: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 6px, rgba(0, 0, 0, 0.40) 0px 1px 6px;
  border-radius: 5px;
  color: white;
}

.content-details-configuration{
  padding: 20px 0px 10px 0px;
}

.content-details-item-text1{
  margin-top: 5px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-details-item-text1 input{
  height: 25px;
  width: 78%;
  border-radius: 4px;
  margin-bottom: 8px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 3px, rgba(0, 0, 0, 0.40) 0px 1px 3px;
  background-color: transparent;
  color: white;
  padding-left: 6px;
  outline: none;
}

.content-details-item-text1 select{
  width: 80%;
  height: 30px;
  padding-left: 6px;
  border-radius: 4px;
  margin-bottom: 8px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 3px, rgba(0, 0, 0, 0.40) 0px 1px 3px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
}

.content-details-item-text1 option{
  background-color: var(--Color-coral);
}


.content-details-item-text input[type="number"]{
  height: 30px;
  padding-left: 6px;
  border-radius: 4px;
  margin-bottom: 8px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 3px, rgba(0, 0, 0, 0.40) 0px 1px 3px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
}

.content-details-item-block{
  margin-top: 5px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-details-item-block input[type="text"]{
  height: 25px;
  width: 70%;
  border-radius: 4px;
  margin-bottom: 8px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 3px, rgba(0, 0, 0, 0.40) 0px 1px 3px;
  background-color: transparent;
  color: white;
  padding-left: 6px;
  outline: none;
}
.content-details-item-block input[type="number"]{
  height: 25px;
  width: 20%;
  border-radius: 4px;
  margin-bottom: 8px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 3px, rgba(0, 0, 0, 0.40) 0px 1px 3px;
  background-color: transparent;
  color: white;
  padding-left: 6px;
  outline: none;
}

.content-details-item-text input[type="color"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 35px;
}

.content-details-item-text input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;}
.content-details-item-text input[type="color"]::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}

.content-details-item-block input[type="color"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width:23%;
  height: 35px;
}

.content-details-item-block input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
}
.content-details-item-block input[type="color"]::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}

.content-details-item-block select{
  width: 72%;
  height: 30px;
  padding-left: 6px;
  border-radius: 4px;
  margin-bottom: 8px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 3px, rgba(0, 0, 0, 0.40) 0px 1px 3px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
}

.content-details-item-text{
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  );
  column-gap: 25px;
  align-items: center;
}

.content-details-item-textsub{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-details-item-textsub input{
  width: 50%;
  border-radius: 5px;
  border: none;
  height: 25px;
}

.content-details-item summary{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.content-details-item summary button{
    background-color: #ff1d63;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 3px, rgba(0, 0, 0, 0.40) 0px 1px 3px;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 6px;
  /* Ancho del scrollbar */
}

/* Track (la parte no visible del scrollbar) */
::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
  /* Color del track */
}

/* Thumb (la parte deslizable del scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  /* Color del thumb */
  border-radius: 5px;
  /* Borde redondeado */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}
